@import "../../../variables";

.wrapper{
    position: relative;

    .acercade{  
        background-color: #202224;
        .contenedor{
          padding: 2em;
          .sobrenosotros{
              color: white;
              text-align: right;
              margin-bottom: 0;
          }
          hr{
            color: white;
            width: 50%;
            margin-top: 0;
            margin-right: 0;
          }
          p{
            padding: 0.5em;
            margin: 1em;
            color: white;
          }
        }
    }
    .acercadeother{
        background-color: #282A2C;
        .sesgootro{
            z-index: 10;
            position: static;
            left: 0;
            border-width: 5vh 100vw 0 0;
            border-style: solid;
            border-color:  #202224 transparent transparent  transparent;
        }
        .contenedor{
            padding: 2em;
            .mision{

            }
            .vision{
              text-align:left;
              .sobrenosotros{
                text-align: left;
              }
              hr{
                margin-left: 0;
              }
            }
            .sobrenosotros{
                color: white;
                text-align: right;
                margin-bottom: 0;
            }
            hr{
              color: white;
              width: 50%;
              margin-top: 0;
              margin-right: 0;
            }
            p{
              padding: 0.5em;
              margin: 1em;
              color: white;
            }
          }
    }

    .acercaUs{
        background-color: #343739;
        .sesgo{
            z-index: 10;
            position: static;
            bottom: 0;
            left: 0;
            border-width: 5vh 100vw 0 0;
            border-style: solid;
            border-color:  #282A2C transparent transparent transparent;
        }
        .contenedor{
            padding: 2em;
            .sobrenosotros{
                color: white;
                text-align: right;
                margin-bottom: 0;
            }
            hr{
              color: white;
              width: 50%;
              margin-top: 0;
              margin-right: 0;
            }
            p{
              padding: 0.5em;
              margin: 1em;
              color: white;
            }
          }
        }
        .acerca{
          .sesguito{
              z-index: 10;
              position: static;
              left: 0;
              border-width: 5vh 100vw 0 0;
              border-style: solid;
              border-color:  #4C6E8E transparent transparent transparent;
          }
          .contenedor{
              padding: 2em;
              .sobrenosotros{
                  color: white;
                  text-align: right;
                  margin-bottom: 0;
              }
              hr{
                color: white;
                width: 50%;
                margin-top: 0;
                margin-right: 0;
              }
              p{
                padding: 0.5em;
                margin: 1em;
                color: white;
              }
            }
          }
          .informacion{
            background-color: #f0f2f5;
            .sesguitoU{
                z-index: 10;
                position: static;
                left: 0;
                border-width: 5vh 100vw 0 0;
                border-style: solid;
                border-color:  #343739 transparent transparent transparent;
            }
            .contenedor{
                padding: 2em;
                .sobrenosotros{
                    color: white;
                    text-align: right;
                    margin-bottom: 0;
                }
                hr{
                  color: white;
                  width: 50%;
                  margin-top: 0;
                  margin-right: 0;
                }
                p{
                  padding: 0.5em;
                  margin: 1em;
                  color: white;
                }
              }
            }
    }
    
    @media only screen and (min-width: 768px){
      .wrapper{
        position: relative;
        .acercade{  
            max-height: 35vh;
            padding: 0em 3em 3em 3em;
            .contenedor{
              .sobrenosotros{
                text-transform: uppercase;
              }
            }
        }
        .acercadeother{
            max-height: 35vh;
            padding: 0em 3em 3em 0em;
            .contenedor{
              display: grid;
              grid-template-columns: 2fr 2fr;
              margin: 20px  20px 20px 90px;
              .mision{
                .sobrenosotros{
                  text-align: center;
                  text-transform: uppercase;
                }
                hr{
                  margin-left: 70px;
                }
              }
              .vision{
                .sobrenosotros{
                  text-align: center;
                  text-transform: uppercase;
                }
                hr{
                  margin-left: 70px;
                }
              }
            }
        }
        .acercaUs{
            min-height: 35vh;
            padding: 0em 3em 3em 0em;
            .contenedor{
              .sobrenosotros{
                text-transform: uppercase;
              }
            }
         }
        .informacion{
          background-color: #f0f2f5;
        }
      }
}

@media only screen and (min-width: 1024px){
  .wrapper{
    position: relative;
    .acercade{  
        min-height: 20vh;
        padding: 0em 3em 3em 3em;
        .contenedor{
          .sobrenosotros{
            font-size: 2em;
            text-transform: uppercase;
          }
          hr{
            width: 30%;
          }
          p{
            margin-left: 120px;
            margin-right: 0px;
            padding-right: 0px;
            font-size: 1.5em;
          }
        }
    }
    .acercadeother{
        min-height: 45vh;
        padding: 0em 3em 3em 0em;
        .contenedor{
          .sobrenosotros{
            font-size: 2em;
            text-transform: uppercase;
          }
          font-size: 1.40em;
        }
    }
    .acercaUs{
        min-height: 20vh;
        padding: 0em 3em 3em 0em;
        .contenedor{
          .sobrenosotros{
            font-size: 2em;
            text-transform: uppercase;
          }
          hr{
            width: 37%;
          }
          p{
            margin-left: 120px;
            margin-right: 0px;
            padding-right: 0px;
            font-size: 1.5em;
          }
        }
     }
    .informacion{
      background-color: #f0f2f5;
    }
  }
}

@media only screen and (min-width: 1440px){
  .wrapper{
    .acercade{
      max-height: 50vh;
      .contenedor{
        p{
          padding-bottom: 20px;
          padding-right: 0px;
          padding-left: 90px;
          padding-top: 20px;
          border-left-width: 90px;
          margin-right: 0px;
          margin-left: 150px;
        }
      }
    }
    .acercadeother{
      .contenedor{
        .mision{
          hr{
            margin-left: 165px;
          }
        }
        .vision{
          hr{
            margin-left: 165px;
          }
        }
      }
    }
    .acercaUs{
      max-height: 50vh;
      .contenedor{
        p{
          padding-bottom: 20px;
          padding-right: 0px;
          padding-left: 90px;
          padding-top: 20px;
          border-left-width: 90px;
          margin-right: 0px;
          margin-left: 150px;
        }
      }
    }

  }
}



