@import "./../../variables";

.big {
    max-height: 800px;
    width: 100%;
    position: relative;

    .icon {
        position: absolute;
        font-size: 2rem;
        top: 500px;
        color: $surface-color;
        left: 0;
        right: 0;
        margin: auto;
    }

    .imgHide {
        display: none;
    }

    .img {
        max-width: 100%;
        max-height: 100%;
        position: relative;
    }

    .inner {
        width: 50%;
        position: absolute;
        vertical-align: middle;
        padding: 60px;
        left: 40px;
        top: 90px;
        background-color: $opaque-color;

        .restaurant {
            display: none;
        }

        h1 {
            font-weight: 700;
            font-size: 2.5em;
            color: $surface-color;
            border-bottom: 2px solid $surface-color;
            margin-top: 0px;
            margin-bottom: 30px;
        }

        > .content {
            p {
                font-size: 1em;
                padding: 0;
                font-weight: 600;
                letter-spacing: 0.25em;
                color: $surface-color;
                text-align: justify;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .big {
        .icon {
            display: none;
        }

        .inner {
            max-height: 150px;
            padding: 20px;
            left: 20px;
            top: 50px;

            h1 {
                font-weight: 700;
                font-size: 1rem;
                color: $surface-color;
                border-bottom: 2px solid $surface-color;
                margin-top: 0px;
                margin-bottom: 10px;
                font-family: "Roboto Slab", serif;
            }

            > .content {
                p {
                    font-size: 0.75rem;
                    padding: 0;
                    font-weight: 400;
                    letter-spacing: 0.15em;
                    font-family: "Roboto Slab", serif;
                    color: $surface-color;
                    text-align: justify;
                }
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    .big {
        .img {
            display: none;
        }

        .imgHide {
            display: inline;
        }

        .inner {
            position: absolute;
            width: 100%;
            top: 200px;
            right: 0;
            left: 0;
            margin: auto;


            .restaurant {
                display: block;
                text-transform: uppercase;
                border: 3px solid $surface-color;
                color: $surface-color;
                font-size: 2rem;
                letter-spacing: 3px;
                text-align: center;
            }

            h1 {
                margin-top: 30px;
                border-bottom: none;
                font-size: 1.2rem;
                text-align: center;
            }

            .content {
                display: none;
            }
            
        }
    }

}
