@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,400italic,600italic|Roboto+Slab:400,700");

.big{
  position: relative;
  background-image:url(imaen.jpeg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
 
  .inner{
    display: block;
    padding: 60px 0 60px 0;
    margin:0 60px 0 60px;
    min-height: 20vh;

    .head{
      width: 100%;
      min-height: 10vh;

     h1{
       font-weight: 700;
       font-size: 2.5em;
       margin-top: 0px;
       font-family: "Roboto Slab", serif;
       text-align: center;
     }
     hr{
      background:red;
      color: red;
      width: 20%;
      padding-right: 600px; 
     }
    }

.content{
       p{
         font-size: 1em;
         padding: 0;
         font-weight: 600;
         letter-spacing: 0.25em;
         font-family: "Roboto Slab", serif;
         min-height: 10vh;
         text-align: center;
       }
    }
  }
}
