.big > .inner{
  display: block;
  padding: 28px 0 64px 0;
  margin: 30px;
}

.about > .container > .content p:last-child{
    line-height: 1.65;
}

h1{
    font-weight: 700;
    font-size: 2.5em;
    border-bottom: 2px solid black;
    margin-top: 0px;
    margin-bottom: 30px;
}

