@import "./../../variables";

.list {
    width: 90%;
    margin: auto;

    h2 {
        margin-top: 50px;
        font-weight: 600;
        text-align: center;
    }
    .card {
        width: 90%;
        margin: auto;
    }
}
