@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,400italic,600italic|Roboto+Slab:400,700");

.inner{
    h1{
        font-size: 2em;
        font-weight: 900;
        margin-bottom: 10px;
        text-align: center;
        font-family: "Roboto Slab", serif;
        
    }
.ls{
    padding-top: 25px;
    padding-bottom: 10px;
    margin-left: 30px;
    width: 80%;
    height: 200%; 
    box-shadow: 2px 2px 5px 5px #666;
    .cardi{
        padding-left: 8px;
        padding-right: 25px;
        margin-left: 10px;
        margin-right: 10px;
    }

}
}

