@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,400italic,600italic|Roboto+Slab:400,700");
@import "../../_variables.scss";

  .inner{
      h1{
          font-size: 2em;
          font-weight: 900;
          margin-bottom: 10px;
          text-align: center;
      }

      .ls{
        padding-top: 25px;
        padding-bottom: 10px;
        width: 90%;
        height: 90%;
        margin: auto;
        font-family: "Roboto Slab" serif;
        font-size: 1em;
        font-weight: 600;
        letter-spacing: 0.25em;
            .card{
                border: $primary-color-light 10px groove;
                font-family: "Roboto Slab" serif;
                font-size: 1em;
                font-weight: 600;
                letter-spacing: 0.25em;
                .cardContent{
                    background: white;
                    .cardInfo{
                        .cardTitle{
                            
                            h2{
                                text-align: center;
                                margin-bottom: 0px;
                            }

                        }
                        .information{
                            text-align: center;
                            p{
                                font-size: 11px;
                                font-weight: 600;
                                letter-spacing: 0.25em;
                                padding-top: 5px;
                                margin-bottom:10px;
                            }
                        }
                        .img{
                            margin-bottom: 0px ;
                            height: 170px;
                        }
                    }

                }
            }
      }
  }

  @media only screen and (min-width: 768px){
    .inner{
        h1{
        }
        .ls{
              .card{
                  height: 26em  ;
                  .cardContent{
                      .cardInfo{
                          .cardTitle{
                              
                              h2{
                                  text-align: center;
                              }
                          }
                          .information{
                              p{
                                margin-bottom: 10px;
                              }
                          }
                          .img{
                              height: 110px;
  
                          }
                      }
  
                  }
              }
        }
    }
  }

@media only screen and (min-width: 1024px){
    .inner{
        .ls{
            .card{
                height: 22em;
                .cardContent{
                    .cardInfo{
                        .cardTitle{
                            
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1440px){
    .inner{
        .ls{
            .card{
                height: 22em;
                width: 22em;
                display: flex;
                justify-content: space-between;
                .cardContent{
                    .cardInfo{
                        .cardTitle{
                            
                        }
                    }
                }
            }
        }
    }
}

