@import "./../../variables.scss";

.over {
    width: 100%;
    height: 100%;
    background-color: $surface-color;

    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    .pop {
        width: 40%;
        background-color: $surface-color;
        border-color: $primary-color-text;

        h3 {
            font-size: 2.5em;
            text-align: center;
        }
        .formPrincipal {
            width: 90%;
            margin: auto;
            .fields {
                .field {
                    input {
                        width: 20em;
                    }
                }
            }
        }
        .btn {
            display: flex;
            justify-content: space-between;
        }
    }
}
