/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 0;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgba(36, 41, 67); /* Black fallback color */
    background-color: rgba(36, 41, 67, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }
  
  /* Position the content inside the overlay */
  .overlayContent {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 50%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin: auto;
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
    background-color: transparent;
  }

  .selected {
      background-color: rgba(24, 143, 255, 0.9);
  }
  
  /* The navigation links inside the overlay */
  .overlay a {
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
    border-top: solid 1px rgba(212, 212, 255, 0.1);
    font-size: 0.8em;
    font-weight: 600;
    letter-spacing: 0.25em;
    line-height: 4em;
    text-transform: uppercase;
  }
  
  /* When you mouse over the navigation links, change their color */
  .overlay a:hover, .overlay a:focus {
    color: #9bf1ff !important;
  }
  
  /* Position the close button (top right corner) */
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 1.2rem;
    background-color: transparent;
    border-color: transparent;
    color: white;
  }

  .overlay .closebtn:hover {
    background-color: transparent;
    border-color: transparent;
    color: #9bf1ff;
  }

  .hidden {
      height: 0;
  }

  .shown {
      height: 100%;
  }

  .menuBtn {
      background-color: transparent;
      border-color: transparent;
      color: white;
      font-size: 1.2rem;
  }

  .menuBtn:hover, .menuBtn:focus {
      border-color: transparent;
      background-color: transparent;
      color: #9bf1ff;
  }


  
  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }