@import "./../../variables.scss";

.header {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    padding: 0px 10px;
    background-color: $primary-color;
}

.header .logo {
    span {
      text-decoration: none;
      margin: 0 0 5px 20px;
      color: $surface-color;
      display: none;
    }
  
    strong {
      background: $surface-color;
      color: $primary-color-text;
      padding: 0.20em;
      font-size: 1.2em;
    }
  }