@import "./../../variables.scss";

.header {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    padding: 0px 10px;
    background-color: $primary-color-text;
    border-bottom: 3px ridge $surface-color;

    .icons {
        display: inherit;
        margin-right: 20px;
        position: absolute;
        top: 3px;
        right: 0;
        font-size: 1.2rem;
        background-color: transparent;
        border-color: transparent;
        color: $surface-color;
    }
    .logo {
        margin-left: 40px;
        span {
            font-weight: 400;
            font-size: 0.8rem;
            text-decoration: none;
            margin: 0 0 5px 5px;
            color: $surface-color;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
        strong {
            border: 2px solid $surface-color;
            color: $surface-color;
            padding: 0.2em;
            font-size: 1.2rem;
            letter-spacing: 2px;
        }
    }
}

@media only screen and (max-width: 768px) {
    .header {
        .icons {
            position: absolute;
            top: 2px;
            right: 0;
            font-size: 1.2rem;
            background-color: transparent;
            border-color: transparent;
            color: $surface-color;
        }
        .logo {
            margin-left: 20px;
            span {
                display: none;
            }
        }
    }
}
