@import "./../../variables.scss";

.header {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  padding: 0px 10px;
  background-color: $primary-color;
  border-bottom: 1px ridge $surface-color;

  .logo {
    span {
      text-decoration: none;
      margin: 0 0 5px 20px;
      color: $surface-color;
      display: none;
    }

    strong {
      background: $surface-color;
      color: $primary-color;
      padding: 0.2em;
      font-size: 1.2em;
    }
  }
}
