@import "./../../variables.scss";

.Sucur{
    background-color: white;
    min-height: 80vh;
    padding-bottom:0.5em ;
}

@media only screen and (min-width: 768px){
    .Sucur{
       display: grid;
        min-height: 40vh;
    }
}