@import "./../../variables.scss";

.img {
    width: 100%;
    min-height: 350px;
    max-height: 350px;
    &:hover {
        background-color: black;
        cursor: pointer;
    }
}

.submenu {
    z-index: 100;
    &:hover {
        background-color: black;
        cursor: pointer;
    }
}