$primary-color: #ff8f00;
$primary-color-light: #ffc046;
$primary-color-dark: #c56000;
$primary-color-text: #000000;
$opaque-color: rgba(0, 0, 0, 0.493);

$secondary-color: #ffd600;
$secondary-color-light: #ffff52;
$secondary-color-dark: #c7a500;
$secondary-color-text: #000000;

$backgroud-color: #f5f5f5;
$complementary-color: #493636;

$surface-color: #ffffff;
$opaque-surface-color: rgba(255, 255, 255, 0.774);

$error-color: #b00020;
$social-links: #242943;

$about-first-color: #202224;
$about-second-color: #282a2c;
$about-third-color: #343739;
$about-backgound-color: #f0f2f5;
$input-height: 40px;
